---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Showcase from '../components/Showcase.astro';

const posts = await Astro.glob('../posts/*.md');
---

<Layout title='Blog | Astro'>
  <Showcase heading='Blog' text='A simple blog built with Astro' />
  <div class='max-w-6xl w-full mx-auto p-8'>
    {
      posts.map((post: any) => (
        <Card
          title={post.frontmatter.title}
          link={'/learn-astro-build/' + post.frontmatter.slug}
        >
          <div>
            Written by <strong>{post.frontmatter.author}</strong> on{' '}
            {new Date(post.frontmatter.date).toLocaleDateString()}
          </div>
          <div class='mt-2 text-base text-gray-600'>
            <p>{post.frontmatter.excerpt}</p>
          </div>
        </Card>
      ))
    }
  </div>
</Layout>
