<footer class='w-full bg-neutral-900 text-white text-center text-sm mt-8'>
  <div
    class='flex flex-row justify-between items-center p-4 px-8 max-w-6xl mx-auto w-full gap-16'
  >
    <div>
      <h4 class='text-left font-bold text-base'>Astro</h4>
      <p class='text-left'>
        This is a demo website to show how the Astro framework works. Vist the <a
          href='http://astro.build'
          class='text-purple-500 hover:text-purple-400'>official website</a
        > to learn more.
      </p>
    </div>
    <div class='flex-col text-right hidden sm:flex'>
      <h4 class='text-left font-bold text-base'>Links</h4>
      <ul>
        <li>
          <a
            href='/first-astro-site/'
            class='text-purple-500 hover:text-purple-400'>Home</a
          >
        </li>
        <li>
          <a
            href='/first-astro-site/about'
            class='text-purple-500 hover:text-purple-400'>About</a
          >
        </li>
        <li>
          <a
            href='/first-astro-site/blog'
            class='text-purple-500 hover:text-purple-400'>Blog</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
