---
import logo from '../images/logo.svg';
---

<header class='bg-neutral-900 w-full'>
  <div class='flex flex-row mx-auto max-w-6xl p-8'>
    <div class='flex items-cente'>
      <a href='/learn-astro-build/'>
        <img
          src={logo}
          alt='logo'
          class='h-8 w-auto'
          width='256'
          height='128'
        />
      </a>
    </div>
    <div class='flex-1'></div>
    <nav>
      <ul class='flex flex-row list-none gap-8'>
        <li>
          <a
            href='
          /learn-astro-build/'
            class='text-white no-underline'
          >
            Home</a
          >
        </li><li>
          <a href='/learn-astro-build/about' class='text-white no-underline'
            >About</a
          >
        </li>
        <li>
          <a href='/learn-astro-build/blog' class='text-white no-underline'
            >Blog</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
